{% extends 'blog/base.html' %}

{% block content %}

<div class="container">
				<section id="agenda" style="margin-top:50px">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>Agenda</h2>
			<hr class="red">
		</div>
	</div>
	<div class="row">
		<!--  Esta sección es la que se repite -->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="box-title">
				<h4>Representantes de la Defensoría del Público de la Argentina presentan trabajo realizado en la Ciudad de México</h4>
			</div>
			<div>
				<p>
					<strong>Fecha: </strong>20 de junio 2017
				</p>
				<p>
					<strong>Lugar: </strong><strong>Auditorio Miguel Ángel Granados Chapa, Universidad Autónoma Metropolitana, unidad Xochimilco, </strong> 
				</p>
				<p>
					<strong>Horario: </strong>16:00 hrs
				</p>
				<p>
					<a href="#" target="_new"><strong>Leer más...</strong></a>
				</p>
			</div>
			<hr>
		</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="box-title">
				<h4>3er Coloquio Miguel Ángel Granados Chapa</h4>
			</div>
			<div>
				<p>
					<strong>Fecha: </strong>23 - 25 de agosto 2017
				</p>
				<p>
					<strong>Lugar: </strong><strong>Auditorio Pablo González Casanova, </strong> Circuito Mario de la Cueva s/n, Ciudad Universitaria, 04510, Coyoacán, CDMX
				</p>
				<p>
					<strong>Horario: </strong>9:00 - 14:00h
				</p>
				<p>
					<a href="#" target="_new"><strong>Leer más...</strong></a>
				</p>
			</div>
			<hr>
		</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="box-title">
				<h4>Foro: Garantía y Protección de los Derechos de las Audiencias. Reflexiones en torno a la Minuta de Reformas a la Ley Federal de Telecomunicaciones y Radiodifusión</h4>
			</div>
			<div>
				<p>
					<strong>Fecha: </strong>13 de septiembre 2017
				</p>
				<p>
					<strong>Lugar: </strong><strong>Senado de la República. Auditorio Octavio Paz , </strong> Av. Paseo de la Reforma 135, esq. Insurgentes Centro, Colonia Tabacalera, Delegación Cuauhtémoc, Ciudad de México, C.P. 06030, Teléfono: 5345 3000
				</p>
				<p>
					<strong>Horario: </strong>9:00 h - 18:00 h 
				</p>
				<p>
					<a href="#" target="_new"><strong>Leer más...</strong></a>
				</p>
			</div>
			<hr>
		</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="box-title">
				<h4>Reconocimiento por labor a favor de los derechos de las audiencias a la Mtra. Beatriz Solís Leree y al Dr. Raúl Trejo Delarbre</h4>
			</div>
			<div>
				<p>
					<strong>Fecha: </strong>24 de agosto 2017
				</p>
				<p>
					<strong>Lugar: </strong><strong>Facultad de Ciencias Políticas y Sociales de la UNAM, </strong> Circuito Mario de la Cueva, s/n, Ciudad Unviersitaria, Ciudad de México
				</p>
				<p>
					<strong>Horario: </strong>14:00hrs
				</p>
				<p>
					<a href="http://www.radioeducacion.edu.mx/3er-coloquio-miguel-angel-granados-chapa" target="_new"><strong>Leer más...</strong></a>
				</p>
			</div>
			<hr>
		</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="box-title">
				<h4>Encuentro de Defensores de la Audiencia </h4>
			</div>
			<div>
				<p>
					<strong>Fecha: </strong>20 de octubre 2017
				</p>
				<p>
					<strong>Lugar: </strong><strong>Sistema Zacatecano de Radio y Televisión (Sizart), </strong> 
				</p>
				<p>
					<strong>Horario: </strong>12:00hrs
				</p>
				<p>
					<a href="" target="_new"><strong>Leer más...</strong></a>
				</p>
			</div>
			<hr>
		</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="box-title">
				<h4>4to Congreso Anual de Defensoras y Defensores de la Audiencia</h4>
			</div>
			<div>
				<p>
					<strong>Fecha: </strong>Noviembre 2017
				</p>
				<p>
					<strong>Lugar: </strong><strong>Brasilia, Brasil, </strong> 
				</p>
				<p>
					<strong>Horario: </strong>
				</p>
				<p>
					<a href="#" target="_new"><strong>Leer más...</strong></a>
				</p>
			</div>
			<hr>
		</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="box-title">
				<h4>Declaración de Brasilia en derechos de audiencias</h4>
			</div>
			<div>
				<p>
					<strong>Fecha: </strong>2 de noviembre 2017
				</p>
				<p>
					<strong>Lugar: </strong><strong>Brasilia, Brasil, </strong> 
				</p>
				<p>
					<strong>Horario: </strong>
				</p>
				<p>
					<a href="#" target="_new"><strong>Leer más...</strong></a>
				</p>
			</div>
			<hr>
		</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="box-title">
				<h4>Foro: &quot;Libertad de expresión y derecho a la información en México y América Latina&quot;</h4>
			</div>
			<div>
				<p>
					<strong>Fecha: </strong>23 de noviembre 2017
				</p>
				<p>
					<strong>Lugar: </strong><strong>Auditorio Pablo González Casanova, Facultad de Ciencias Políticas y Sociales, UNAM, </strong> Circuito Mario de la Cueva s/n, Ciudad Universitaria, 04510 Coyoacán, CDMX
				</p>
				<p>
					<strong>Horario: </strong>09:00hrs
				</p>
				<p>
					<a href="#" target="_new"><strong>Leer más...</strong></a>
				</p>
			</div>
			<hr>
		</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="box-title">
				<h4>Derechos de Papel. Presentación de la Campaña sobre Derechos de las Audiencias </h4>
			</div>
			<div>
				<p>
					<strong>Fecha: </strong>Viernes 23 de febrero 
				</p>
				<p>
					<strong>Lugar: </strong><strong>Auditorio Pablo González Casanova. Facultad de Ciencias Políticas y Sociales UNAM , </strong> Circuito Mario de la Cueva S/N, Ciudad Universitaria, Delegación Coyoacán, México D.F., C.P. 04510
				</p>
				<p>
					<strong>Horario: </strong>11:30 hrs 
				</p>
				<p>
					<a href="#" target="_new"><strong>Leer más...</strong></a>
				</p>
			</div>
			<hr>
		</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="box-title">
				<h4>Revista Versión: La obra de Néstor García Canclini y Jesús Martín Barbero: más allá de las mediaciones y la hibridación</h4>
			</div>
			<div>
				<p>
					<strong>Fecha: </strong>26 de febrero 2018
				</p>
				<p>
					<strong>Lugar: </strong><strong>Feria Internacional del Libro del Palacio de Minería, </strong> Calle de Tacuba 5, Centro Histórico, Ciudad de México
				</p>
				<p>
					<strong>Horario: </strong>17:00hrs
				</p>
				<p>
					<a href="https://www.facebook.com/FilMineria/" target="_new"><strong>Leer más...</strong></a>
				</p>
			</div>
			<hr>
		</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="box-title">
				<h4>FORO DERECHOS DE LAS AUDIENCIAS... EN ESPERA </h4>
			</div>
			<div>
				<p>
					<strong>Fecha: </strong>20 DE MARZO 2018
				</p>
				<p>
					<strong>Lugar: </strong><strong>Salón de la Comisión Permanente Senado de la República , </strong> Av. Paseo de la Reforma 135, esq. Insurgentes Centro, Colonia Tabacalera, Delegación Cuauhtémoc, Ciudad de México C.P. 06030 Teléfono: 5345 3000 y 5130 2200.
				</p>
				<p>
					<strong>Horario: </strong>9:00hrs 
				</p>
				<p>
					<a href="#" target="_new"><strong>Leer más...</strong></a>
				</p>
			</div>
			<hr>
		</div>
				<!--  Fin de la sección que se repite -->
	</div>
</section>			</div>


{% endblock %}