{% extends 'blog/base.html' %}

{% block content %}

<div class="container">
				<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-buffer">
		<img class="img-responsive" src="https://defensoria.televisioneducativa.gob.mx/img/foro/img_audiencias.jpg" />
	</div>
</div><section id="mensajes">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h3>¿Qué dice la audiencia?</h3>
            <hr class="red"></hr>
		</div>
	</div>
		
				
	</section><section id="paginacion">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
            
        </div>
    </div>
</section>			</div>



{% endblock %}